header {
    font-family: 'Indie Flower', cursive;
    font-size: 48pt;
    text-align: center;
}

button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    padding: 15px 32px;
    margin: 100px auto;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    outline: none;
}

button:hover {
    background-color: #000;
    color: #fff;
}

.selected {
    background-color: #000;
    color: #fff;
}

.no-click {
    pointer-events: none;
}

.notification {
    font-family: 'Indie Flower', cursive;
    font-size: 24pt;
    text-align: center;
}

.hidden {
    display: none;
}

#parent {
    text-align: center;
}

.top-level {
    width: 450px;
    height: 450px;
    padding: 0;
    margin: 50px auto;
    font-size: 0;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.dot {
    width: 200px;
    height: 200px;
    margin: 11px;
    display: inline-block;
    border-radius: 100px;
}

#count {
    font-family: system-ui;
    font-size: 16px;
}

#count-tally {
    width: 55px;
    height: 40px;
    border-radius: 5px;
    margin: 10px auto;
    padding: 15px;
    background-color: #3f0e0e;
    font-family: 'VT323', monospace;
    font-size: 25pt;
    color: #e51c14;
    vertical-align: middle;
}

.green {
    background-color: #4abc42;
}
.red {
    background-color: #a00000;
}
.yellow {
    background-color: #edc607;
}
.blue {
    background-color: #1c54af;
}

.green.selected {
    background-color: #64ff59;
}
.red.selected {
    background-color: #ff2828;
}
.yellow.selected {
    background-color: #ffea0a;
}
.blue.selected {
    background-color: #4c90ff;
}
